
body, html {
  height: 100%; /* Ensure the full height is available for flex */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center text for all child elements */
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Adjust width as needed */
  max-width: 600px; /* Or your preferred max width */
}

h1, h2 {
  font-family: 'Madimi One', sans-serif;
}

p, input {
  font-family: Roboto;
}


#speechContainer {
  margin: 20px;
}

#transcribeButton {
  background-color: #0191FE;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 30px;
  margin-top: 10px;
}

#transcribeButton:hover {
  cursor: pointer;
}

#speechTranscriptContainer {
  margin-top: 20px;
  padding: 20px;
}

#speechText {
  margin-top: 10px;
  font-size: 20px;
  width: 500px;
}
